@font-face {
    font-family: 'Inter';
    font-weight: 800;
    src:url('../fonts/Inter-Bold.woff2') format(woff2),
        url('../fonts/Inter-Bold.woff') format(woff),
}

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    src:url('../fonts/Inter-SemiBold.woff2') format(woff2),
        url('../fonts/Inter-SemiBold.woff') format(woff),
}

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    src:url('../fonts/Inter-Medium.woff2') format(woff2),
        url('../fonts/Inter-Medium.woff') format(woff),
}

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    src:url('../fonts/Inter-Regular.woff2') format(woff2),
        url('../fonts/Inter-Regular.woff') format(woff),
}

@font-face {
    font-family: 'Inter';
    font-weight: 300;
    src:url('../fonts/Inter-Light.woff2') format(woff2),
        url('../fonts/Inter-Light.woff') format(woff),
}

.sup-plus {
    height: 13px;
    width: 13px;
    font-size: 30px;
    margin-left: -3px;
    vertical-align: sub;
}

/* #rod {
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    width: 2px;
    height: 150px;
    border-radius: 5px;
    transform-origin: 50% 0%;
    transform: rotate(60deg);
    background-color: transparent;
  }
  
  #ball {
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
  } */

.btn {
    border: none;
    cursor: pointer;
    color: white;
    background: none;
    transition: all .3s ease-in-out;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.carousel-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    padding: 44px 0;
    transition: all 0.25s ease-in;
}

.carousel-view .item-list {
    max-width: 950px;
    width: 70vw;
    padding: 50px 10px;
    display: flex;
    gap: 48px;
   scroll-behavior: smooth; /* this do in css */
    transition: all 0.25s ease-in;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
    overflow: auto;
    scroll-snap-type: x mandatory;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.item-list::-webkit-scrollbar {
    display: none;
}

.prev-btn {
    background: none;
    cursor: pointer;
}

.next-btn {
    cursor: pointer;
}

.card {
    scroll-snap-align: center;
    min-width: 260px;
    min-height: 280px;
    border-radius: 8px;
    padding-bottom: 16px;
}

.estrellas {
    margin-top: 16px;
    color: green;
    text-align: center;
}

.container-exp {
    padding: 0 24px;
}

.experiencias {
    text-align: center;
    font-size: 20px;
}

.border-sep {
    margin: 0 auto;
    width: 50%;
    border-top: 2px solid green;
}

.container-tra {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}


.trabajadores {
    font-size: 18px;
}