@font-face {
  font-family: 'Inter';
  font-weight: 800;
  src: url('../fonts/Inter-Bold.woff2') format(woff2),
    url('../fonts/Inter-Bold.woff') format(woff),
}

@font-face {
  font-family: 'Inter';
  font-weight: 600;
  src: url('../fonts/Inter-SemiBold.woff2') format(woff2),
    url('../fonts/Inter-SemiBold.woff') format(woff),
}

@font-face {
  font-family: 'Inter';
  font-weight: 500;
  src: url('../fonts/Inter-Medium.woff2') format(woff2),
    url('../fonts/Inter-Medium.woff') format(woff),
}

@font-face {
  font-family: 'Inter';
  font-weight: 400;
  src: url('../fonts/Inter-Regular.woff2') format(woff2),
    url('../fonts/Inter-Regular.woff') format(woff),
}

@font-face {
  font-family: 'Inter';
  font-weight: 300;
  src: url('../fonts/Inter-Light.woff2') format(woff2),
    url('../fonts/Inter-Light.woff') format(woff),
}


/* SCROLL */
::-webkit-scrollbar {
  width: 10px;
  background-color: #F5F5F5;
}

::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgb(246, 242, 242); */
  border-radius: 10px;
  background-color: #7e7e7e65;
}

::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  /* background-image: -webkit-linear-gradient(90deg, rgba(23, 35, 255, 1) 32%, rgba(48, 227, 94, 1) 65%); */
  background-image: -webkit-linear-gradient(top, rgba(23, 35, 255, 1) 30%, rgba(48, 227, 94, 1) 80%);
  border-radius: 10px;
}

/* SCROLL */

.sup-plus {
  height: 13px;
  width: 13px;
  font-size: 30px;
  margin-left: -3px;
  vertical-align: sub;
}

/* #rod {
    position: relative;
    margin-top: 50px;
    margin-left: 150px;
    width: 2px;
    height: 150px;
    border-radius: 5px;
    transform-origin: 50% 0%;
    transform: rotate(60deg);
    background-color: transparent;
  }
  
  #ball {
    position: absolute;
    bottom: -10px;
    left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: orange;
  } */

/* Inicio estilos para home*/

@media only screen and (max-width: 600px) {
  .home-container {
    position: static;
  }

  .home-card,
  .home-img {
    position: static;
  }

  .home-img {
    width: 100%;
    background: linear-gradient(90deg, rgba(23, 35, 255, 1) 32%, rgba(48, 227, 94, 1) 65%);
    height: 33rem;
    object-fit: cover;
    object-position: -26rem;
  }

  .home-card {
    width: 18rem;
    z-index: 5;
    margin-bottom: -50px;
  }

  .home-card h2 {
    text-align: center;
  }
}


@media (min-width: 768px) {

  .home-container {
    position: relative;
    height: 100vh;
    background: url(../images/EXPORTS/SUMMANT_header\ web\ illus_1.png) center/cover;
    overflow: hidden;
  }

  .overlay {
    background: linear-gradient(150deg, rgba(23, 35, 255, 1) 2%, rgba(48, 227, 94, 1) 98%);
    background-size: 300%;
    z-index: -10;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    animation: bg-animation 10s infinite alternate;
  }

  @keyframes bg-animation {
    0% {background-position: left;}
    100% {background-position: right;}
  }

  .home-card {
    position: absolute;
    top: 0%;
    left: -1%;
    transform: translate(50%, 50%);
    z-index: 1;
    width: 19rem;
  }
}

@media (min-width: 1024px) {
  .home-card {
    top: -10px;
    left: -10px;
  }
}

@media (min-width: 1200px) {
  .home-card {
    top: -10px;
    left: -95px;
  }
}

/* Fin estilos para home */

/* Inicio estilos para porque summant*/

.card-porque {
  width: 16rem;
  height: 16rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.card-mod {
  position: relative;
  overflow: hidden;
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.card__title {
  z-index: 10;
  display: flex;
  gap: 10px;
  width: 100%;
  padding: 18px 18px 0 18px;
  font-size: 18px;
}

.card__title-img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(305deg) brightness(102%) contrast(102%);
}

.card-content {
  z-index: 10;
  font-size: 14px;
  padding: 18px;
}

.card-separator {
  z-index: 10;
  height: 2px;
  width: 80%;
  background-color: #FFF;
  margin-top: 6px;
}

.card-bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  filter: brightness(0.6);
  object-fit: cover;
}

.plus-sign {
  font-size: 30px;
  margin-top: -10px;
  font-weight: 600;
}

/* Inicio estilos para el slider de resenas */

.glide__slides {
  height: 350px;
}

.glide__slide--resenas {
  display: flex;
  justify-content: center;
}

.glide__arrow--right,
.glide__arrow--left {
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
}

.glide__bullets {
  bottom: -1em;
}

.glide__bullet {
  background-color: #BBB;
}

.glide__bullet--active {
  background-color: black;
}

.card {
  font-family: 'Inter';
  width: 260px;
  height: 320px;
  border-radius: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 2px 2px 5px rgb(0, 0, 0, 0.1);
}

.estrellas {
  color: #30E35E;
  text-align: center;
  font-size: 18px;
  padding-bottom: 8px;
}

.container-exp {
  padding: 0 48px;
}

.experiencias {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.border-sep {
  margin: 0 auto;
  width: 50%;
  margin-top: 20px;
}

.container-tra {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  padding: 0 80px;
}


.trabajadores {
  font-size: 14px;
  text-align: center;
}

@media (min-width: 768px) {
  .card {
    width: 220px;
    height: 280px;
  }

  .container-exp {
    padding: 0 24px;
  }

  .experiencias {
    font-size: 14px;
  }
}

@media (min-width: 1200px) {
  .card {
    width: 280px;
    height: 340px;
  }

  .container-exp {
    padding: 0 40px;
  }

  .experiencias {
    font-size: 18px;
  }

  .glide__bullets {
    bottom: -2em;
  }
}

/* Fin estilos para resenas */

/* Inicio estilos para slider de clientes */

.scroller {
  max-width: 80%;
}

.scroller__inner {
  padding-block: 1rem;
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
}

.scroller__inner>img {
  height: 2rem;
}

.scroller[data-animated="true"] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg,
      transparent,
      white 20%,
      white 80%,
      transparent);
  mask: linear-gradient(90deg, transparent, white 20%, white 80%, transparent);
}

.scroller[data-animated="true"] .scroller__inner {
  width: max-content;
  flex-wrap: nowrap;
  animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
  --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
  --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
  --_animation-duration: 78s;
}

.scroller[data-speed="slow"] {
  --_animation-duration: 60s;
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 0.5rem));
  }
}


/* Fin estilos para slider de clientes */

/* Comienzo Query's Navbar */
@media (min-width: 768px) {
  #menuNav {
    width: 100%;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    gap: 3rem;
    padding: 1rem;
  }

  #menuToggle {
    display: none;
  }

  #menuItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: static;
    font-size: 12px;
  }

  #menuItems li {
    margin: 0;
    gap: 1px;
    font-weight: 600;
  }

  #menuItems li a {
    padding: 0;
  }

  #navDivider {
    display: none;
  }

  #spanglish {
    width: 20%;
    height: 30px;
  }
}

@media (min-width: 1024px) {
  #menuNav {
    padding: 1% 2%;
  }

  #menuItems {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    position: static;
    gap: 3rem;
  }

  #spanglish {
    width: 10%;
    height: 30px;
  }

  #spanglish a {
    width: 80px;
  }
}

/* Fin Query's Navbar */

/* Comienzo Query's Nuestros Servicios */
@media (min-width: 768px) {
  #servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  #servicios {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 50px;
  }
}
/* Fin Query's Nuestros Servicios */

/* Comienzo Query's Cegid - PeopleNet */
@media (min-width: 768px) {
  .titleCegid {
    display: flex;
    flex-direction: row;
  }

  .paragraphCegid {
    padding: 0;
    width: 100%;
  }

  #cegidMobile {
    display: none;
  }

  #cegidDesktop {
    display: flex;
  }

  .hexagon {
    width: 16%;
    height: auto;
  }
}

@media (min-width: 1024px) {
  .hexagon {
    min-width: 15%;
    height: auto;
  }
}
/* Fin Query's Cegid - PeopleNet */

/* Comienzo Query's Nuestra Experiencia */
@media (max-width: 768px) {
  .description {
    display: none;
  }
  #bulletImg {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .containToggle {
    background-image: url(../images/FOTOS_EXPERIENCIA/CEGID2.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px 15px 0 0;
  }
  .textToggle {
    filter: brightness(1) !important;
  }
}
@media (min-width: 768px) {
  #experienceCards {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .bullet {
    max-width: 80%;
    /* min-height: 20rem; */
  }
  #bulletCegid {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
  }
  #bulletWeb {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
  }
  #bulletMobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
  }
  #bulletIndicador {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
  }
  #bulletGestion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
  }
  #bulletCapacitacion {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
  }
  #bulletImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .description {
    display: none;
  }
  #cardDesktop {
    display: flex;
    flex-direction: row;
  }
  #bullet:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/FOTOS_EXPERIENCIA/CEGID.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    transition: all .5s ease-in-out;
  }
  #bullet:hover #svgColors {
    display: none;
  }
  #bullet:hover #svgWhite {
    display: flex;
    width: 35px;
  }
  #bulletContain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1rem;
    padding: 10px;
  }
  #bulletImg {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  .description {
    display: flex;
    flex-direction: column;
  }
  .arrow {
    display: none;
  }
  #cardDesktop {
    display: flex;
    flex-direction: row;
  }
}
@media (min-width: 1024px) {
  #experienceCards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
  }
  /* .bullet {
    max-width: 80%;
    max-height: 15rem;
  } */
  #bulletC {
    justify-content: space-around;
    align-items: center;
    width: 85%;
    max-height: 20%;
  }
  #bulletW {
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 90%;
  }
  #bulletM {
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 90%;
  }
  #bulletI {
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 90%;
  }
  #bulletG {
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 90%;
  }
  #bulletCap {
    justify-content: space-around;
    align-items: center;
    width: 85%;
    height: 90%;
  }
  #bulletC:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/FOTOS_EXPERIENCIA/CEGID.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #ffffff;
    transition: all .5s ease-in-out;
  }
  #bulletW:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/FOTOS_EXPERIENCIA/DESARROLLO\ WEB.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    color: #ffffff;
    transition: all .5s ease-in-out;
  }
  #bulletM:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/FOTOS_EXPERIENCIA/DESARROLLO\ MOBILE.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    color: #ffffff;
    transition: all .5s ease-in-out;
  }
  #bulletI:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/FOTOS_EXPERIENCIA/INDICADORES.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    color: #ffffff;
    transition: all .5s ease;
  }
  #bulletG:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/FOTOS_EXPERIENCIA/GESTION\ RRHH.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    color: #ffffff;
    transition: all .5s ease-in-out;
  }
  #bulletCap:hover {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url(../images/FOTOS_EXPERIENCIA/CAPACITACIÓN.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: local;
    color: #ffffff;
    transition: all .5s ease-in-out;
  }
  #bulletC:hover #svgCegid-White {
    width: 35px;
  }
  #bulletW:hover #svgWeb-White {
    width: 51px;
  }
  #bulletM:hover #svgMobile-White {
    width: 43px;
  }
  #bulletG:hover #svgGestion-White {
    width: 43px;
  }
  #bulletCap:hover #svgCap-White {
    width: 43px;
  }
  #bulletI:hover #svgIndicador-White {
    width: 45px;
  }
  .bullet:hover .svgColors {
    display: none;
  }
  .bullet:hover .svgWhite {
    display: flex;
  }
  .description {
    display: flex;
  }

  .arrow {
    display: none;
  }
}
/* Fin Query's Nuestra Experiencia */


/* Inicio slider tech */

.tech-img {
  width: 120px;
  height: 60px;
}

.container-tech {
  position: relative;
  display: flex;
  justify-content: center;
  height: 120px;
}

#glide-tech {
  width: 70%;
}

#glide__track--tech {
  height: 100px;
}

#arrow-tech--right {
  position: absolute;
  top: 30px;
  right: -50px;
}

#arrow-tech--left {
  position: absolute;
  top: 30px;
  left: -75px;
}

/* Fin slider tech */

/* Inicio contactanos */

@media (min-width: 768px) {
  #contactanos-img {
    position: relative;
    left: -230%;
    bottom: 86px;
  }
}

/* Fin contactanos */